@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
}

$primary-color: #5366AD;
$darker-primary-color: darken($primary-color, 10%);

$green-accent: #7FC89A;
$darker-green-accent: darken($green-accent, 8%);

.signIn-btn {
  background-color: $primary-color;
  border-radius:50px;
  width: 160px;
  height: 60px;
}

.signIn-btn:hover, .signIn-btn:focus {
  background-color: $darker-primary-color;
}

.custom-Input:focus {
  border-color: $primary-color;
}

.custom-btn, .custom-btn:disabled {
  background-color: $primary-color;
  color: white;
  border: 0;
  width: 80px;
  text-align: center;
}

$logout-color: #485d8b;

.logout-btn {
  background-color: $logout-color;
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-color: white;
  border-top: 2px solid $logout-color;
  color: white;
  width: 140px;
}

.logout-btn:focus, .logout-btn:hover {
  background-color: darken($logout-color, 10%);
}

.custom-btn:hover, .custom-btn:focus {
  background-color: $darker-primary-color;
  color: white;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extra-padding {
  padding: 0 8% 0 8%;
}

.modal-header {
  background-color: $primary-color;
  opacity: 0.8;
  color: white;
}

.color-primary {
  color: $primary-color;
}

.rotate-45 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* Firefox */
  -moz-transform: rotate(45deg);
  /* IE */
  -ms-transform: rotate(45deg);
  /* Opera */
  -o-transform: rotate(45deg);
}

.ml-10 {
  margin-left: 10%;
}

.w-150px {
  width: 150px;
}

.logo-image {
  width: 20%;
}

@media only screen and (max-width: 1200px) {
  .logo-image {
    width: 45%;
  }
}

.text-indieFlower {
  font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.text-Cabin {
  font-family: 'Cabin', sans-serif, Arial, Helvetica, sans-serif;
}

.custom-toast {
  width: 100%;
  position: relative;
  z-index: 500;
}

$task-primary-color: #ECDE05;

.task-card {
  border: none;
}

.task-board {
  background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg);
  padding: 30px;
  border-radius: 30px;
  background-repeat: repeat-y;
  min-height: 470px;
}

.empty-task-board-text {
  @extend .text-indieFlower;
  color: #ffffff;
  font-size: 30px;
}

.task-card-body {
  background-color: #FBF042;
  border-top: 4px solid $task-primary-color;
  border-left: 4px solid $task-primary-color;
  border-right: 4px solid $task-primary-color;
  box-shadow: 5px -8px darken($task-primary-color, 10%);
}

.task-card-id {
  @extend .text-Cabin;
  font-size: 20px;
  opacity: 0.2;
  position: absolute;
}

.task-card-date {
  @extend .text-Cabin;
  opacity: 0.3;
  font-size: 18px;
}

.task-card-time {
  @extend .text-Cabin;
  opacity: 0.3;
  font-size: 14px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.task-card-footer {
  background-color: #FBF042;
  border-left: 4px solid $task-primary-color;
  border-right: 4px solid $task-primary-color;
  border-bottom: 4px solid $task-primary-color;
  border-top: 0 none;
}

.hr-1 {
  border: 3px solid #808080;
  opacity: 0.15;
}

$update-btn-color: #C2B918;

.update-btn, .update-btn:focus {
  background-color: $update-btn-color;
  width: 100px;
  border: none;
}

.update-btn:hover {
  background-color: darken($update-btn-color, 5%);
}

$delete-btn-color: #9E4237;

.delete-btn {
  background-color: $delete-btn-color;
  border: none;
}

.fa-thumbtack-task {
  font-size: 50px;
  opacity: 0.1;
}